body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/d7/57/e9/d757e9a82c599ab4634ebc5f20dbc82f.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  
  .game-container {
    background-color: #8fcdfd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  #feedback {
    margin-top: 20px;
    font-size: 18px;
  }
  
  #attempts {
    margin-top: 10px;
    font-size: 16px;
  }